.status_Used{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #919DBA;
    margin: 8px 15px;
}

.status_UnUsed{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #03AC00;
    margin: 8px 15px;
}

.status_OutDate{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FD5959;
    margin: 8px 15px;
}